<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="aspConnectionString" connectionString="Data Source=XIAOHONG-PC;Initial Catalog=asp;Persist Security Info=True;User ID=sa;Password=xiaohong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="index.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
  
</configuration>
