@model OperationData
<html>
    <head>
        <title>ValidationMessage</title>
        <style type="text/css">
            .field-validation-error
            {
                color: Red;
            }
        </style>
    </head>
    <body>
        @Html.EditorForModel()
    </body>
</html>
