@model Contact
<html>
<head>
    <title>修改Contact信息</title>    
    <link rel="stylesheet"  href="~/Style.css" />
</head>
<body>
    @using (Html.BeginForm())
    { 
        @Html.EditorForModel()
        @Html.EditorFor(m=>m.Address)
        <input type="submit" value="保存" />
    }
</body>
</html>





