@model ModelStateDictionary
<html>
<head>
    <title>ModelState</title>
     <link rel="stylesheet"  href="~/Style.css" />
</head>
<body>
    <table rules="all">
        <tr><th>Key</th><th>Value</th></tr>
        @foreach (var item in Model)
        { 
            <tr>
                <td>@item.Key</td>
                <td>@item.Value.Value.ConvertTo(typeof(string))</td>
            </tr>
        }
    </table>
</body>
</html>
