body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    text-align: center;
}
     
table{
    border: 1px solid #000000;
    margin: 10px auto;
    background-color: #eee;
   width: 600px;
}        
tr{
    line-height: 23px;
}

th{
    background-color: #ccc;
    color: #fff;
}

tr:nth-child(odd)
{
    background-color: #fff;
}