@model DemoModel
<html>
    <head>
        <title>Model元数据</title>
        <link rel="stylesheet" href="~/Style.css" />
    </head>
    <body>
        @Html.EditorFor(m=>m.Foo)
        @Html.EditorFor(m=>m.Bar)
        @Html.EditorFor(m=>m.Baz)
    </body>
</html>
