@model IEnumerable<Filter>
<html>
<head>
    <title>Filters</title>
    <link rel="stylesheet" href="~/Style.css" />
</head>
<body>
   <table rules="all">
      <tr><th>Instance</th><th>Order</th><th>Scope</th></tr>
      @foreach (Filter filter in Model)
      { 
         <tr>
            <td>@filter.Instance.GetType().Name</td>
            <td>@filter.Order</td>
            <td>@filter.Scope</td>
         </tr>
      }
   </table>
</body>
</html>
